<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">

<head>
	<title>Web App Exercise</title>
</head>

<body>
	<h1>Web App Exercise</h1>
	<p>This is the fourth part of the exercise.</p><br/>
	<p>This page should display an error.</p>
	<br/><br/>
	
	<p th:text="${timestamp}">timestamp</p>
	<p th:text="${status}">status</p>
	<p th:text="${error}">error</p>
	<p th:text="${message}">message</p>
	<p th:text="${path}">path</p>
		
</body>

</html>